<!-- FOOTER -->
<footer class="footer-custom  text-uppercase fw-bold">
	<p class="fw-bold fs-2">
		&copy;2023 - Carine VINAGRE.<br/>
		<small>Projet 1 - Ecommerce<br/>
			<a href="#">CGV</a>
		</small>
	</p>
</footer>
