<!-- FOOTER -->
<footer class="footer font-weight-bold text-uppercase mb-auto text-center mt-1">

	<p>
		&copy;2023 Carine VINAGRE.<br/>
		<small>Projet 1 - E-Commerce<br/>
			<a href="#">CGV</a>
		</small>
	</p>
</footer>
