<!-- FOOTER -->
<footer class="footer mb-auto text-center mt-1">

	<p class="fw-bold">
		&copy;2021-2022 Carine VINAGRE.<br/>
		<small>Projet 1 - E-Commerce<br/>
			<a href="#">CGV</a>
		</small>
	</p>
</footer>
