
.container-login{

    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background: #212121;
    color: #f1f1f1;
    border-radius: 5px;
    border: 1px solid #ffffffc3;
}

h2 {
    font-size: 30px;
    font-family: Roboto Light, sans-serif;
    text-align: center;
}
.create{
    color: #0f0f0f !important;
}
.input-group {
    margin-top: 30px;
}

label {
    font-size: 20px;
    display: block;
    position: absolute;
}

input {
    display: block;
    width: 100%;
    font-size: 18px;
    color: #f1f1f1;
    padding: 20px 0;
    outline: 0;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #f1f1f1;
}

input:focus {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 1)

}

input::placeholder {
    font-size: 16px;
}

/*.icon-input-container {
    position: relative;

}*/

.icon-verif {
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: none;
}

.error-msg {
    margin-top: 7px;
    color: #f75252;
    font-weight: 400;
    display: none;
}

.pwd-info {
    margin-top: 8px;
    color: #a9a9a9;
    font-weight: 400;
    display: block;
}

.lines {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.l1, .l2, .l3 {
    height: 5px;
    margin: 15px 5px 20px;
    width: 30%;
    position: relative;
}

.l1 {
    background-color: #cf5914;
}

.l2 {
    background-color: #fdeb50;
}

.l3 {
    background-color: #14e214;
}

.lines span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

form button {
    font-size: 20px;
    min-width: 150px;
    display: block;
    margin: 40px auto 10px;
    padding: 12px 15px;
    background-color: #fffcdc;
    border: 1px solid #f1f1f13d;
    color: #111;
    border-radius: 3px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    cursor: pointer;
}

form button:hover {
    background-color: #e3dfa2;
}

