{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}

	<div class="container-login">
		<h2>Inscription</h2>
		<form>
			<div class="input-group">
				<label for="user">Nom</label>
				<div class="icon-input-container">
					<input
							type="text"
							autocomplete="off"
							id="user"
							placeholder="3 caractères minimum"
							maxlength="24"
					>
					<img src="ressources/check.svg" alt="icone de validation" class="icon-verif">
				</div>
				<span class="error-msg">Choisissez un pseudo contenant au moins 3 caractères</span>
			</div>
			<div class="input-group">
				<label for="email">Email</label>
				<div class="icon-input-container">
					<input
							type="text"
							autocomplete="off"
							id="email"
							placeholder="Votre email"
					>
					<img src="ressources/check.svg" alt="icone de validation" class="icon-verif">
				</div>
				<span class="error-msg">Rentrer un email valide.</span>
			</div>
			<div class="input-group">
				<label for="password">Mot de passe</label>
				<div class="icon-input-container">
					<input
							type="password"
							autocomplete="off"
							id="password"
							placeholder="Votre mot de passe"
					>
					<img src="ressources/check.svg" alt="icone de validation" class="icon-verif">
				</div>
				<span class="pswd-info">Au moins un symbole, un chiffre, ainsi que 6 caractères minimum.</span>
				<div class="lines">
					<div class="l1"><span>faible</span></div>
					<div class="l2"><span>moyen</span></div>
					<div class="l3"><span>fort</span></div>
				</div>
			</div>

			<div class="input-group">
				<label for="psw-confirmation">Confirmez le mot de passe</label>
				<div class="icon-input-container">
					<input
							type="password"
							autocomplete="off"
							id="psw-confirmation"
							placeholder="Confirmez le mot de passe"
					>
					<img src="ressources/check.svg" alt="icone de validation" class="icon-verif">
				</div>
			</div>
			<button type="submit">Création du compte</button>
			<button type="submit">Se connecter</button>

		</form>
		<a href="{{ path('app_home') }}" >Retour</a>
	</div>
{% endblock %}